<!--users/templates/registration/password_reset_complete.html-->

{% extends 'base_login.html' %}

{% block content %}

    {% load crispy_forms_tags %}

        <div class="hero is-halfheight">
            <div class="hero-body is-justify-content-center is-align-items-center">
                <div class="columns is-flex-direction-column box">

                    <h2 class="title is-3">Password reset complete! ✅</h2>
                    
                    <a class="button is-black is-outlined" href="{% url 'users:signin_dashboard' %}">
                        <span class="icon is-small">
                            <i class="fa-solid fa-house"></i>
                        </span>
                        <span>Back to login</span>
                    </a>

                </div>
            </div>
        </div>

{% endblock %}