<!--users/templates/registration/password_reset_form.html-->

{% extends 'base_login.html' %}

{% block content %}

    {% load crispy_forms_tags %}

        <div class="hero is halfheight">
            <div class="hero-body is-justify-content-center is-align-items-center">
                <div class="columns is-flex is-flex-direction-column box">
                    
                    <h2 class="title is-3">Send password reset link</h2>

                    <form id="ResetUser" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <hr>
                        <p class="control">
                            <a class="button is-info is-outlined" onclick="ResetSubmit()">
                                <span class="icon is-small">
                                    <i class="fa-solid fa-rocket"></i>
                                </span>
                                <span>Reset</span>
                            </a>
                            <a class="button is-black is-outlined" href="{% url 'users:signin_dashboard' %}">
                                <span class="icon is-small">
                                    <i class="fa-solid fa-house"></i>
                                </span>
                                <span>Back to sign-in dashboard</span>
                            </a>
                        </p>
                    </form>
                
                </div>
            </div>
        </div>


{% endblock %}
