<!--users/templates/registration/password_change_form.html-->

{% extends 'base_login.html' %}

{% block content %}
    
    {% load crispy_forms_tags %}

        <div class="hero is-halfheight">
            <div class="hero-body is-justify-content-center is-align-items-center">
                <div class="columns is-flex is-flex-direction-column box">

                    <h2 class="title is-3">Change password</h2>

                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <hr>
                        <p class="control">
                            <input class="button is-success" type="submit" value="Change">
                            <button class="button is-info" onclick="location.href='{% url 'users:signin_dashboard'%}';">Back</a>
                        </p>
                    </form>
                
                </div>
            </div>
        </div>


{% endblock %}
